.message {
    width: 80%;
    padding: 0.5em;
    border-radius: 0.5em;
}

.message.self {
    float: left;
    text-align: left;
    background-color: lightgreen;
}

.message.other {
    float: right;
    text-align: right;
    background-color: lightblue;
}

.message-header {
    font-size: 0.8em;
    font-style: italic;
}

.message-header.user {
    margin-right: 0.2em;
}